@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #4ccd99;
  --secondary: #758694;
  --sky: #009fbd;
  --darken: #201e43;
  --lighty: #91ddcf;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  display: flex;
  background-color: white;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem auto;
}

header img {
  width: 16rem;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
}

.hero {
  text-align: center;
  max-width: 75%;
  margin: 4rem 12%;
}

.hero h1 {
  color: var(--primary);
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-division {
  display: flex;
  color: var(--secondary);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.01rem;
  gap: 1rem;
  text-align: left;
  margin: 0 1rem
}

.cards {
  max-width: 75%;
  margin: auto 12%;
  padding: 1rem
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
}

.grid-item {
  border-radius: 4%;
  color: white;

}

.primary {
  background-color: var(--primary);
}

.sky {
  background-color: var(--sky);
}

.darken {
  background-color: var(--darken);
}

.card {
  padding: 2rem;
  height: 300px
}

.card h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.5rem
}

.card p {
  font-weight: 300;
  font-size: 1.5rem;
}


select {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  font-family: sans-serif;
  font-size: large;
  border: none;
  cursor: pointer;
  margin-top: 6rem;
}

option {
  color: black
}

.partners {
  max-width: 75%;
  margin: 4rem 12%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 1rem
}

.partners h2 {
  color: var(--primary);
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 0
}

.partners-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem
}

.partners-item img {
  width: 6rem;
  height: 2.5rem;
}

.statistics {
  background-color: var(--lighty);
}

.statistics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 75%;
  margin: auto 12%;
  padding: 1rem
}

.statistics-content img {
  width: 20rem;
  height: 15rem
}

.statistics-content h1 {
  color: white;
  font-weight: 300;
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.statistics-content p {
  color: var(--secondary);
  font-weight: 400;
  max-width: 80%;
  line-height: 1.5rem;
  text-align: left;
}

.statistics-cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.statistics-card {
  border-radius: 3%;
  background-color: white;
  width: 220px;
  height: 250px
}

.statistics-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem
}

.statistics-card-content i {
  color: var(--primary);
  margin-bottom: 2rem;
}

.statistics-card-content h3 {
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem
}

.statistics-card-content p {
  color: var(--secondary);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
}

.offices-container {
  width: 75%;
  margin: 5rem 12%;
  padding: 1rem;
}

.offices-heading {
  text-align: center;
  max-width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.offices-heading h1 {
  color: var(--primary);
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.offices-heading p {
  color: var(--secondary);
  font-weight: 400;
  font-size: 0.9rem;
}

.offices-cards {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 1.5rem;
}

.offices-card-content {
  transition: box-shadow 0.3s ease;
}

.offices-card-content:hover {
  box-shadow: 1rem 1rem 1rem rgba(36, 36, 36, 0.1)
}

.offices-card-content img {
  object-fit: cover;
  width: 100%;
}

.city-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.city-button h3 {
  color: var(--secondary);
  font-weight: 400;
  font-size: 1.3rem;
}

.city-button button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: #7695FF;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease
}

.city-button button:hover {
  background-color: #03346E;
}

.join {
  margin: 4rem;
  text-align: center;
  max-width: 75%;
  margin-left: 12%;
  margin-right: 12%
}

.join h1 {
  font-weight: 300;
  font-size: 2rem
}

.join button {
  text-transform: uppercase;
  padding: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 700;
  color: white;
  background-color: #7695FF;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.join button:hover {
  background-color: #03346E;
}

.join a{
  color: white
}